.Order {
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Date {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 499px) {
  .Order {
    width: 100%;
  }
}
